<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904832374500-spqeu2o48rmuc9eqoui4l4jpnlut5eb3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904832374500-spqeu2o48rmuc9eqoui4l4jpnlut5eb3</string>
	<key>API_KEY</key>
	<string>AIzaSyDG34PCqw2rfHpx06DclYZQePazubbjPgs</string>
	<key>GCM_SENDER_ID</key>
	<string>904832374500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tallyBall</string>
	<key>PROJECT_ID</key>
	<string>tally-ball</string>
	<key>STORAGE_BUCKET</key>
	<string>tally-ball.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904832374500:ios:c6319dd4c2378a6efd3ef1</string>
</dict>
</plist>